*{
    margin:0;
    padding:0;
}
html{
    width:100%;
    height:100%;
}
h2, h5 {
    text-align: center;
    font-family: 'Microsoft Sans Serif';
    color:gold;
    text-decoration:solid;
    font-size:24pt;
    text-shadow:3px 3px 2px brown;
}
h5{
    font-size:15pt;
}
.DUCATI {
    background-image: url("ducati1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.MERCEDES {
    background-image: url("mercedes1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.HONDA {
    background-image: url("honda1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.JEEP {
    background-image: url("jeep1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.Dettagli{
    width:300px;
    height:100px;
    border:10px groove gold;
    border-top:none;
    position:absolute;
    top:250px;
    float:inherit;
    background-color:white;
}
div{
    height:250px;
    width:300px;
    float:inherit;
    border:10px groove gold;
    border-bottom:none;
    font-size:10pt;
    background-color:none;
}
#main-content{
    width:100%;
    float:left;
    border:none;
    margin-top:3.3em;
    height:auto;
}
body{
    background-image: url("MainContent.jpg");
    background-repeat:inherit;
    background-size:cover;
    height:100%;
}
.Body-content {
    width: 300px;
    height: 350px;
    margin: 10px;
    margin-left:20px;
    background-image: none;
    border: none;
    position: relative;
}